
[submodule "src/main/java/no/ntnu/microservice/model/sharedmodels"]
	path = src/main/java/no/ntnu/microservice/model/sharedmodels
	url = git@gitlab.stud.idi.ntnu.no:idatt2106_2024_11/shared-models.git
[submodule "src/main/java/no/ntnu/microservice/amqp"]
	path = src/main/java/no/ntnu/microservice/amqp
	url = git@gitlab.stud.idi.ntnu.no:idatt2106_2024_11/common-amqp.git
